In [1]:
import pandas as pd

In [7]:
# Specify the path to your Excel file
file_path = '../data/Cruises_Original_20241121.xlsx'

In [15]:
df = pd.read_excel(file_path, header=3)  # Starts reading from the 3rd row

In [16]:
df.head()

,Voyage #,Year,Trip,Ship,Dates,Unnamed: 5,Stops / Ports,Unnamed: 7,comments,Unnamed: 9,CATALOG #,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1932-1,FIRST,Cal. State,1931-12-31 00:00:00,NaN,California City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,15-17 Jan 32,NaN,"Balboa, Panama",NaN,NaN,NaN,04 . 01 .,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,17-18 Jan 32,NaN,"St. Elmo Bay, Panama",NaN,anchored at Las Perlas Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Annual #,1,NaN,24-27 Jan 32,NaN,"Callao, Peru",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN